p
    strong Research shows it’s worth getting in early.
    | Earlier treatment is easier, prevents future problems
    | and pays dividends for your child’s overall development,
    | and for the whole family.
p
    a(href="/contact")
        | Contact us to find out more about how we can assist.

.contactBlock
    p.telephone.icon (02) 6154 5623 — Office Reception
    p.email.icon
        a(href="mailto:info@familiesinmind.com.au")
            | info@familiesinmind.com.au