-var title="About Our Organisation"

block intro
    h1. About Our Organisation
    p.intro
        | Families in Mind is a Canberra based specialist psychological practice
        | experienced in working with expectant families or families with young
        | children who are showing behavioural or emotional difficulties.
    p.intro
        | Research tells us that in order to address these issues, we need to
        | look at the broader picture. Our therapeutic approach takes into
        | account family relationships — both as a way of understanding these
        | challenges, and working with you to make things better.

block midbar
    .staff-profile-images
        img(
            src="/images/staff-profile-images.jpg"
            alt="Photos of Liz Challis, Sonia Costello, and Anna Huber"
        )

block leftcol
    p
        | Our own experience with becoming parents and raising our children
        | gives us some understanding of how it feels to adjust to parenthood,
        | and the struggles that parenting sometimes brings.
    p
        | Sometimes children’s behaviour can be confusing — but we’ve learnt
        | that their behaviour is the way they communicate how they feel and
        | what they need from us. Some children and families have had a
        | difficult start or experienced setbacks, which can make things harder.
    p
        | We’re here to help by working with you to get a better understanding
        | of what might be going on for your child. If you’re expecting a child,
        | we can help smooth the transition to parenthood.

block rightcol
    h4 Working Together
    p
        | We can tailor the way we work to meet the needs of families or
        | professionals. We are able to provide individual consultation, group
        | programs as well as supervison, assessment, training, consultancy and
        | research collaboration.

    p: a(href="/services")
        | See more on our Services Page.

block moredetail
    h2 Specialist Skills
    ul
        li
            | We are registered psychologists with Australian Health
            | Practitioner Regulation Agency (AHPRA)
        li
            | We are members of the Australian Psychology Society
        li
            | We are all registered providers under the Medicare Better Access
            | Initiative.
        li
            | We have specialist knowledge and skills in:
            ul
                li perinatal, infant and early childhood mental health
                li mental health issues affecting parents
                li parenting
                li
                    | parent-child relationship assessment, including assessment
                    | of child attachment
                li
                    | understanding and working with trauma in young children
                    | and adults
        li
            | We are certified providers of Circle of Security individualised
            | therapeutic intervention and Circle of Security Parenting.