extends ../templates/contact.jade

block intro
    h1 Contact Us
    .contactBlock
        p.telephone.icon (02) 6154 5623 — Office Reception
        p.email.icon
            a(href="mailto:info@familiesinmind.com.au")
                | info@familiesinmind.com.au

block map-popover
    h3 Office Address
    p
        strong Families in Mind Psychology
        br
        | Level 3, 28 University Avenue
        br
        | CANBERRA
        br
        | ACT 2601

block leftcol
    h3 Postal Address
    p
        | Families in Mind Psychology
        br
        | GPO BOX 307
        br
        | CANBERRA
        br
        | ACT 2601


block rightcol

    .contactBlock
        h4.upper Sonia Costello
        p.telephone.icon (02) 6154 5622
        p.email.icon
            a(href="mailto:scostello@familiesinmind.com.au")
                | scostello@familiesinmind.com.au

    .contactBlock
        h4.upper Anna Huber
        p.telephone.icon (02) 6154 5621
        p.email.icon
            a(href="mailto:ahuber@familiesinmind.com.au")
                | ahuber@familiesinmind.com.au

    .contactBlock
        h4.upper Liz Challis
        p.telephone.icon (02) 6154 5620
        p.email.icon
            a(href="mailto:lchallis@familiesinmind.com.au")
                | lchallis@familiesinmind.com.au