extends ../templates/referral.jade

block header
    h2
        | You don't need a referral to come and see us — but you will need one
        | in order to claim a Medicare rebate.
    p
        | For best results, especially for matters involving babies and young
        | children, a separate referral for both parent and child enables us to
        | work with the parent and child as needed.

block leftcol
    h2 Need a Referral?

    p
        | With the appropriate referral, rebates may be available under
        strong Medicare Better Access.
        | Rebates may also be available via your private health fund.

    h4.upper Medicare
    p
        | For Medicare services under better access, you will need a referral
        | from a GP, paediatrician or psychiatrist, and a mental health care
        | plan. If you’re seeking a referral from a GP, remember to book a
        | longer consultation.
    p
        | You can receive up to 10 individual consultations and 10 group
        | sessions per year for Medicare approved services.
    p
        | We can guide you through the process of getting a referral, including
        | providing a letter to your GP or referring practitioner.
        a(href="/contact") Contact us for more information.

    h4.upper Private Health Cover
    p
        | Consultation services may be covered under your private health
        | insurance. Please see your health insurance provider for more
        | information.

block rightcol
    h2 Looking to refer?
    p
        | If you are a GP, paediatrician, or psychiatrist, you can make a
        | referral under the
        strong Medicare Better Access Initiative.
    p
        | If GP referrals are made under the Better Access to Mental Health
        | Initiative, enabling the patient to get a Medicare rebate, we need
        | the following information clearly identified:

    h4.upper Patient Details
    ul
        li Name of patient being referred
        li Date of birth
        li Date of referral
        li Diagnosed mental disorder (if identified)
        li Copy of GP Mental Health Plan

    h4.upper Doctor Details
    ul
        li Name of doctor
        li Provider Number
        li Contact details of Doctor
        li Address for reports
        li GP Referral to a named psychologist at Families In Mind Psychology

    h4.upper Checklist
    p
        | Please ensure you have seen the patient for a long consultation,
        | completed a mental health plan and billed for this item.