extends ../templates/services.jade

block header
    h2 Therapeutic Services
    p Families with young children come to us for a whole range of reasons.

block leftcol
    h2 Children
    p Behavioural and emotional problems, including:
    ul
        li anxiety
        li depression
        li disruptive behaviours
        li separation anxiety
        li trauma
        li grief and loss
        li adjustment disorders
        li social and emotional difficulties

block rightcol
    h2 Parents
        span.normal
            | (mothers, fathers, foster and kinship carers, (e.g. grandparents),
            | step parents

    ul
        li parenting stress
        li parenting difficulties related to
            ul
                li trauma (own or child’s)
                li grief and loss (own or child’s)
                li family separation or changes in care arrangements
                li
                    | own mental health problems e.g. anxiety, depression
                    | (including post natal anxiety and depression- either or
                    | both parents)
                li family crisis
                li difficult pregnancy or birth experience
                li family conflict or violence

block intermission
    :markdown
        **We can provide individual and group sessions.**
        As we are a team of three psychologists we can accommodate several
        members of one family in concurrent individual sessions.

        Group programs may be run periodically when there is adequate
        demand.

        The evidence based therapeutic approach we take with each client
        will depend on presenting difficulties, assessment and the goals
        we set with you.

        **We are qualified and experienced in using the individualised Circle
        of Security Intensive Intervention** both individually, with couples
        and groups. We also use Circle of Security Parenting DVD program as
        suited to client need. For more information about Circle of Security
        please refer to the official website at
        [www.circleofsecurity.net](http://www.circleofsecurity.net/).

block bottom-detail
    h2 Other Services
    .subcolumns
        .left
            aside
                h4.upper Supervision
                p
                    | Clinical supervision for psychologists and other mental health
                    | professionals is available on request. Reflective supervision for
                    | infant mental health practitioners can also be provided.
                p
                    | For clinicians with requisite training in either intensive or
                    | parenting versions of the Circle of Security intervention,
                    | accredited supervision is available.

            aside
                h4.upper Assessment
                p
                    | Clinical assessment is a routine part of clinical practice. We
                    | also offer specialised assessments of family relationships and
                    | parenting, on a consultancy basis.

            aside
                h4.upper Training
                p
                    | Training can be provided in areas related to infant and early
                    | childhood mental health, early social and emotional development,
                    | family relationships and parenting.
                p
                    | Families in Mind Psychology also brokers training for
                    | practitioners and organisations in these areas.

        .right
            aside
                h4.upper Consultancy
                p
                    | Families in Mind psychologists can be contracted to provide
                    | specialised psychological services to clients and reflective
                    | supervision for practitioners, on behalf of your organisation.
                p
                    | Support is available to assist with program development and
                    | evaluation and professional development to enhance provision of
                    | services supporting families of young children. This may include
                    | specialist consultation to build capacity to foster infant and
                    | early childhood mental health and child social and emotional
                    | development.

            aside
                h4.upper Research
                p
                    | Families in Mind Psychology can collaborate to support research
                    | underpinning practice in infant and early childhood mental health
                    | services.

            .bottom-align
                strong
                    | For any of these services please contact us directly to
                    | discuss your needs.