doctype
html
    head
        title= page.name + " | Families In Mind Psychology"
        include _styles.jade
    body
        main
            header
                include _header.jade
            article.body
                block body
            footer
                include ../content/_footer.jade
