meta(charset="utf-8")
link(rel="stylesheet" type="text/css" media="screen" href="css/screen.css")
link(rel="stylesheet" type="text/css" media="all" href="css/typography.css")
link(rel="stylesheet" type="text/css" media="print" href="css/print.css")