extends _layout.jade

block body
    section.stripe.columns
        .col
            block intro
        aside.col
            block contact-callout

    aside.stripe.aboutbg
        block midbar

    section.stripe.columns
        .col
            block leftcol

        .col
            block rightcol

    section.stripe.columns
        .col
            block moredetail