extends _layout.jade

block body
    section.stripe.fancy.child
        .columns: .col: block header

    section.stripe
        .columns
            .col
                block leftcol

            .col
                block rightcol