extends _layout.jade

block body
    section
        .stripe.fancy.child
            block header

        .stripe.columns
            .leftcol
                block leftcol

            .rightcol
                block rightcol