extends _layout.jade

block body
    section.stripe.fancy
        .columns
            .col: block header

    section.stripe
        .columns
            .col
                block leftcol

            .col
                block rightcol

    aside.stripe.intermission
        .columns
            .col
                block intermission

    section.stripe.bottom-detail
        .detail
            block bottom-detail